.title {
  text-align: center;
  font-size: 60px;
  margin-top: -180px;
  margin-bottom: 100px;
}

#trending-whine {
  width: 55%;
  text-align: center;
  color: rgb(182,52,34);
  font-size: 34px;
  display: block;
  margin: auto;
  height: 220px;
  margin-bottom: 25px;
}

#next {
  width: 120px;
  display: block;
  margin: auto;
}

#next img {
  height: 120px;
}
