<div class="header">
  <a href="<%= root_path %>"><%= image_tag("ambulance.jpg", :class => "logo") %></a>
  <a href="/whine"><%= image_tag("call.jpg", :class => "call") %></a>
</div>

<hr />
<div id="whine"></div>

<div id="next">
  <%= image_tag("arrow-right.jpg") %>
</div>
