<div class="header">
  <a href="<%= root_path %>"><%= image_tag("ambulance.jpg", :class => "logo") %></a>
  <a href="/whine"><%= image_tag("call.jpg", :class => "call") %></a>
</div>

<div class="tagline"><%= @tagline %></div>

<form name="whine" method="post" action="/submit">
  <textarea name="message" maxlength="200">
  </textarea>

  <br />

  <label name="tags">Add tags here, seperated by commas. (max tag length is 30 chars)</label>
  <input name="tags" type="text" class="tags">

  <input type="submit" value="Submit" class="button">
</form>
