<head>
  <%= stylesheet_link_tag "whine/new" %>
</head>

<div class="tagline"><%= @tagline %></div>

<form name="whine" method="post" action="/submit">
  <textarea name="message" maxlength="200">
  </textarea>

  <br />

  <label name="tags">Add tags here, seperated by commas. (tags with special characters will be removed)</label>
  <input name="tags" type="text" class="tags">

  <input type="submit" value="Submit" class="button">
</form>
