<h1>Pour your heart out without losing any Facebook friends.</h1>

<form name="whine" method="post" action="/submit">
  <textarea name="message" maxlength="300" rows="5" cols="50">
  </textarea>

  <br />

  <input type="submit" value="Submit">
</form>
