/* GLOBAL */
body {
  font-family: 'Coming Soon', cursive;
}

/* HEADER */
.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 120px;
  padding-bottom: 30px;
}

.header .logo {
  float: left;
  height: 120px;
}

.header .call {
  float: right;
  height: 103px;
  margin-right: 10px;
}
